@model IEnumerable<biblioteka.Models.DBEntities.Books>
@using biblioteka.ViewModels;

@{
    var pager = (PagerViewModel)ViewData["Pager"];
}

<h2>Books List</h2>

<form method="get" asp-action="Index">
    <div class="d-flex justify-content-between mb-3">
    <div class="form-group">
        <label for="authorName">Filter by Author:</label>
        <input type="text" name="authorName" id="authorName" class="form-control" value="@ViewBag.AuthorName" placeholder="Enter author name" />
    </div>

    <div class="form-group">
        <label for="bookTitle">Filter by Title:</label>
        <input type="text" name="bookTitle" id="bookTitle" class="form-control" value="@ViewBag.BookTitle" placeholder="Enter book title" />
    </div>

    <div class="form-group">
        <label for="publishedYear">Filter by Published Year:</label>
        <input type="number" name="publishedYear" id="publishedYear" class="form-control" placeholder="Enter year" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
    
</form>

@Html.Partial("_PageSizeForm", pager)

<table class="table mt-3">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Title)</th>
            <th>@Html.DisplayNameFor(model => model.First().Author)</th>
            <th>@Html.DisplayNameFor(model => model.First().ISBN)</th>
            <th>@Html.DisplayNameFor(model => model.First().PublishedYear)</th>
            <th>@Html.DisplayNameFor(model => model.First().AvailableCopies)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Author)</td>
                <td>@Html.DisplayFor(modelItem => item.ISBN)</td>
                <td>@Html.DisplayFor(modelItem => item.PublishedYear)</td>
                <td>@Html.DisplayFor(modelItem => item.AvailableCopies)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BookID">Details</a> |
                    <form asp-action="Delete" asp-route-id="@item.BookID" method="post" style="display:inline">
                        <input type="submit" value="Delete" class="btn btn-link" onclick="return confirm('Are you sure you want to delete this book?');" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create New</a>

@Html.Partial("_Pager", pager)
